@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/GothamBook.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/GothamBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/FontAwesome.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Gotham", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p, li {
  font-weight: 400;
  font-size: 17px;
  color: rgb(0, 0, 0);
  text-transform: inherit;
  line-height: 1.6;
}

h1 {
  font-weight: 500;
  font-size: 78px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.026;
}

h2 {
  font-weight: 500;
  font-size: 45px;
  color: rgb(38, 38, 38);
  text-transform: capitalize;
  line-height: 1.1;
}

h3 {
  font-weight: 500;
  font-size: 34px;
  color: rgb(38, 38, 38);
  text-transform: inherit;
  line-height: 1.1;
}

h4 {
  font-weight: 500;
  font-size: 22px;
  color: rgb(38, 38, 38);
  text-transform: inherit;
  line-height: 1.35;
}

.rv-btn {
  position: relative;
  font-weight: 400;
  font-size: 19px;
  color: rgb(255, 255, 255);
  text-transform: inherit;
  line-height: 1.2;
  background: linear-gradient(to right, rgb(1, 29, 176) 0%, rgb(34, 152, 229) 98%);
  padding: 15px 30px;
  display: inline-flex;
  align-items: center;
  z-index: 1;
  margin-bottom: 8px;
}

.rv-btn::after {
  content: "";
  position: absolute;
  background: url("../images/icons/border.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  right: -6px;
  top: 6px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

a.rv-btn img {
  width: 18px !important;
  height: auto !important;
  margin-left: 12px;
}

.rv-btn:hover {
  color: rgb(255, 255, 255);
}

.rv-btn img {
  margin-left: 5px;
}

.primary-heading {
  text-align: center;
}
.primary-heading h2 {
  margin-bottom: 10px;
}
.primary-heading .img-icon img {
  width: 25px;
}
.primary-heading .img-icon {
  position: relative;
}
.primary-heading .img-icon::before {
  content: "";
  position: absolute;
  background: #000000;
  width: 80px;
  height: 1px;
  left: -130px;
  top: 15px;
  right: 0;
  margin: auto;
}
.primary-heading .img-icon::after {
  content: "";
  position: absolute;
  background: #000000;
  width: 80px;
  height: 1px;
  right: -125px;
  top: 15px;
  left: 0;
  margin: auto;
}

.secondary-heading h2 {
  margin-bottom: 10px;
}
.secondary-heading .img-icon {
  position: relative;
  margin-top: 15px;
  margin-bottom: 20px;
}
.secondary-heading .img-icon::after {
  content: "";
  position: absolute;
  background: #000000;
  width: 80px;
  height: 1px;
  left: 35px;
  top: 15px;
}
.secondary-heading .img-icon img {
  width: 20px;
}

.owl-nav button {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255) !important;
  border: 1px solid #011db0 !important;
  border-radius: 50% !important;
  transition: 0.3s;
}

.owl-nav button:hover {
  background-color: #1056c8 !important;
}

.owl-nav button span {
  font-size: 30px;
  line-height: 22px;
  color: #011db0;
}

.owl-nav button:hover span {
  color: #FFFFFF;
}

.owl-carousel.besten-angebote-slider .owl-nav button,
.owl-carousel.sonderangebot-slider .owl-nav button,
.owl-carousel.rv-marken-slider .owl-nav button, .owl-carousel.rv-produkte-slider .owl-nav button {
  position: absolute;
}

.owl-carousel.besten-angebote-slider .owl-stage-outer {
  padding: 0;
}

.owl-carousel.besten-angebote-slider .owl-nav button.owl-next {
  bottom: 155px;
  left: -18px;
}

.owl-carousel.besten-angebote-slider .owl-nav button.owl-prev {
  top: 155px;
  left: -18px;
}

.owl-carousel.sonderangebot-slider .owl-nav button.owl-next {
  top: 50%;
  transform: translateY(-50%);
  right: -80px;
}

.owl-carousel.sonderangebot-slider .owl-nav button.owl-prev {
  top: 50%;
  transform: translateY(-50%);
  left: -80px;
}

.owl-carousel.rv-produkte-slider .owl-nav button.owl-prev {
  top: 50%;
  transform: translateY(-50%);
  left: -50px;
}

.owl-carousel.rv-produkte-slider .owl-nav button.owl-next {
  top: 50%;
  transform: translateY(-50%);
  right: -50px;
}

.owl-carousel.rv-marken-slider .owl-nav button.owl-next {
  top: 0;
  right: -80px;
}

.owl-carousel.rv-marken-slider .owl-nav button.owl-prev {
  top: 0;
  left: -80px;
}

.owl-theme.nolan-slider .owl-nav.disabled + .owl-dots {
  margin-top: 15px;
  text-align: left;
}

.owl-theme.nolan-slider .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 5px 4px;
  background: transparent !important;
  border: 1px solid #FFFFFF;
}

.owl-theme.nolan-slider .owl-dots .owl-dot.active span {
  width: 8px;
  height: 8px;
  margin: 5px 4px;
  background: #FFFFFF !important;
  border: 1px solid #FFFFFF;
}

.rv-product-step a {
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  margin-right: 40px;
  position: relative;
  margin-top: 8px;
}
.rv-product-step a::after {
  content: "";
  position: absolute;
  background: #000000;
  width: 1px;
  height: 20px;
  right: -20px;
  top: 5px;
  transform: rotate(25deg);
}
.rv-product-step a:hover, .rv-product-step a:last-child {
  color: #2298e5;
}
.rv-product-step a:last-child::after {
  display: none;
}

.rv-header-area {
  position: relative;
  padding: 15px 0;
}

.rv-header-area::after {
  content: "";
  position: absolute;
  background: url("../../images/images/top-bar.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 69%;
  height: 45px;
  right: 0;
  top: 0;
  z-index: -1;
}

.rv-nav-content {
  margin-top: -15px;
}

.rv-logo img {
  width: 231px;
  height: auto;
}

.rv-nav-content a,
.rv-nav-content input,
.rv-nav-content input::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  margin-left: 25px;
  line-height: 1;
}
.rv-nav-content input {
  outline: none;
  background: #FFFFFF;
  padding: 8px 15px;
  width: 100%;
  border: none;
  margin-top: -3px;
}

.rv-top-search {
  position: relative;
  width: 240px;
}

.rv-top-search::after {
  display: none;
}

.rv-top-search img {
  position: absolute;
  right: -18px;
  top: 0;
  cursor: pointer;
  pointer-events: none;
}

nav.rv-nav {
  margin-top: 50px;
}

img.chevron-down {
  width: 16px;
}

img.heart {
  width: 22px;
  margin-left: 25px;
}

.rv-nav ul li {
  position: relative;
}

.rv-nav ul li ul {
  position: absolute;
  width: 150%;
  padding-top: 30px;
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
}

.rv-nav ul li:hover ul {
  padding-top: 8px;
  opacity: 1;
  visibility: visible;
}

.rv-mobile-merkliste a {
  font-weight: 400;
  font-size: 17px;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  line-height: 1;
  margin-left: 40px;
  position: relative;
}

.rv-mobile-merkliste a::before {
  content: "";
  position: absolute;
  background: #aaaaaa;
  width: 1px;
  height: 23px;
  left: -20px;
  top: -3px;
}

.rv-mobile-search img {
  width: 28px;
  height: auto;
}

.rv-mobile-merkliste img {
  margin-left: 0;
}

.rv-mobile-icon {
  background-color: #111111;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.rv-mobile-icon span {
  background-color: rgb(255, 255, 255);
  width: 25px;
  height: 2px;
  display: inline-block;
  margin: 3px 0;
}

.mobile-menu-content {
  background: #FFFFFF;
  width: 400px;
  padding: 40px 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
  transform: translateX(100%);
  display: none;
  transition: 0.3s;
}

.mobile-close-button button {
  background: transparent;
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
}

.mobile-close-button button img {
  width: 18px;
}

.mobile-menu-content .accordion-item button,
.mobile-menu-content .accordion-item a {
  font-weight: 400;
  font-size: 18px;
  color: #000000 !important;
  text-transform: capitalize;
  outline: none;
  box-shadow: none !important;
  padding: 10px 25px;
}
.mobile-menu-content .accordion-item a {
  display: block;
}

.accordion-child-item {
  padding-left: 20px;
}

.mobile-menu-content .accordion-button:not(.collapsed), .accordion-button:hover, .accordion-item a:hover {
  background-color: #f5f5f5;
  color: #0834bb !important;
}

.mobile-menu-content .accordion-button::after {
  width: 15px;
  height: 15px;
  background-size: 15px;
}

.mobile-menu-slide-text {
  position: relative;
  width: 170px !important;
  height: 130px !important;
}

.mobile-menu-slide-text::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.mobile-menu-slide-text h6 {
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: capitalize;
  position: absolute;
  left: 0;
  right: 0;
  top: 65px;
  margin: auto;
  text-align: center;
}

.mobile-menu-bottom {
  padding: 10px 25px;
}

.mobile-menu-bottom p {
  font-weight: 400;
  font-size: 18px;
  color: #000000 !important;
  text-transform: capitalize;
  margin: 10px 0;
}

.mobile-menu-slider .owl-nav {
  text-align: center;
  margin-top: 20px;
}

.mobile-menu-slider .owl-nav button {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.dark-background {
  position: relative;
}

.dark-background::after {
  content: "";
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.rv-footer-area {
  background: url("../../images/images/footer-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 130px;
  margin-top: -160px;
}

.rv-footer-top-content a,
.rv-footer-top-content h6 {
  font-weight: 400;
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 1.8;
}
.rv-footer-top-content h6 {
  font-weight: 500;
}
.rv-footer-top-content .footer-right-item {
  margin-left: 40px;
}
.rv-footer-top-content .col-xl-3 {
  padding-left: 50px !important;
}

.rv-footer-bottom-content {
  padding-top: 25px;
  padding-bottom: 60px;
}
.rv-footer-bottom-content .rv-footer-logo img {
  width: 190px;
}
.rv-footer-bottom-content .rv-footer-middle-text p {
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
}
.rv-footer-bottom-content .rv-footer-middle-text p a {
  text-decoration: underline;
  color: #2296e4;
}
.rv-footer-bottom-content .rv-footer-right-image img {
  width: 38px;
  height: auto;
  margin-right: 10px;
}
.rv-footer-bottom-content .rv-footer-right-content {
  padding-left: 38px;
}
.rv-footer-bottom-content .rv-footer-right-content p {
  font-weight: 500;
  margin-bottom: 0;
}
.rv-footer-bottom-content .rv-footer-right-content a,
.rv-footer-bottom-content .rv-footer-right-content p {
  color: rgb(255, 255, 255);
}

.rv-copyright-text {
  background-image: linear-gradient(0deg, rgb(23, 109, 211) 0%, rgb(37, 163, 234) 99%);
  padding: 15px 0;
}
.rv-copyright-text p {
  font-weight: 400;
  font-size: 18px;
  color: rgb(255, 255, 255);
  margin-bottom: 0;
}

.rv-hero-banner-area {
  background: url("../images/images/banner.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 195px;
  padding-bottom: 260px;
  overflow: hidden;
}
.rv-hero-banner-area p {
  font-weight: 400;
  font-size: 26px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.66;
  margin: 15px 0 25px;
}

.rv-besten-angebote-area {
  background-color: #FFFFFF;
  padding-top: 100px;
  padding-bottom: 130px;
  overflow: hidden;
}

.col-xl-8 {
  padding: 0;
}

.rv-besten-angebote-slide {
  border: 1px solid #e9e9e9;
  border-radius: 15px;
  padding: 35px 20px;
}
.rv-besten-angebote-slide .rv-besten-angebote-slide-image {
  text-align: center;
}
.rv-besten-angebote-slide img {
  height: 180px !important;
  width: auto !important;
  margin: 0 auto;
  margin-bottom: 30px;
  display: block;
}
.rv-besten-angebote-slide .rv-besten-angebote-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.rv-besten-angebote-slide p,
.rv-besten-angebote-slide a {
  font-size: 18px;
  color: rgb(102, 102, 102);
  line-height: 1;
  margin-bottom: 0;
}
.rv-besten-angebote-slide h3 {
  font-size: 34px;
  background: linear-gradient(to right, rgb(1, 29, 176) 0%, rgb(34, 152, 229) 98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  margin-bottom: 0;
}
.rv-besten-angebote-slide h4 {
  font-weight: 500;
  font-size: 23px;
  color: rgb(38, 38, 38);
}
.rv-besten-angebote-slide .rv-besten-angebote-price a {
  text-decoration: underline;
}

.rv-besten-angebote-slide.slideActive {
  background: rgb(38, 38, 38);
}
.rv-besten-angebote-slide.slideActive p,
.rv-besten-angebote-slide.slideActive a {
  color: rgb(204, 204, 204);
}
.rv-besten-angebote-slide.slideActive h4 {
  color: #FFFFFF;
}

.rv-sonderangebot-area {
  background-color: #f3f3f3;
  padding: 130px 0;
  overflow: hidden;
}

.rv-besten-angebote-right-slider {
  margin-left: 5%;
}

.rv-besten-angebote-left {
  margin-left: 40%;
}
.rv-besten-angebote-left p {
  margin-bottom: 20px;
}

.rv-sonderangebot-left-slide-image {
  position: relative;
}
.rv-sonderangebot-left-slide-image img {
  width: 100% !important;
  height: auto !important;
}

.rv-sonderangebot-left-slide-top-img {
  position: absolute;
  width: 100%;
  top: -40px;
}
.rv-sonderangebot-left-slide-top-img img {
  width: 32% !important;
}
.rv-sonderangebot-left-slide-top-img h2 {
  font-size: 40px;
  color: #FFFFFF;
  margin-left: 50px;
}

.rv-sonderangebot-right-slide {
  margin-left: 20px;
}
.rv-sonderangebot-right-slide h4 {
  font-size: 22px;
  font-weight: 500;
  color: rgb(38, 38, 38);
  line-height: 1.1;
  margin-top: 30px;
}
.rv-sonderangebot-right-slide p {
  font-size: 20px;
  width: 95%;
}

.rv-sonderangebot-right-slide-price .right-slide-price {
  margin-bottom: 30px;
  margin-top: 15px;
}
.rv-sonderangebot-right-slide-price h3 {
  font-size: 34px;
  background: linear-gradient(to right, rgb(1, 29, 176) 0%, rgb(34, 152, 229) 98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  margin-bottom: 0;
}
.rv-sonderangebot-right-slide-price span {
  position: relative;
  font-size: 20px;
  color: rgb(38, 38, 38);
  line-height: 1.25;
  margin-left: 10px;
}

.rv-sonderangebot-right-slide-price span::after {
  content: "";
  position: absolute;
  background-color: rgb(38, 38, 38);
  width: 115%;
  height: 1px;
  left: -5px;
  top: 13px;
  transform: rotate(-6deg);
}

.rv-sonderangebot-single-progress {
  margin-left: 30px;
}

.rv-sonderangebot-single-progress-text {
  position: relative;
}

.rv-sonderangebot-single-progress-text span {
  position: absolute;
  font-weight: 500;
  font-size: 26px;
  color: rgb(38, 38, 38);
  left: 0;
  top: 14px;
  right: 0;
  margin: auto;
}

.rv-sonderangebot-right-slide-progress {
  margin-right: 35px;
}

.circular-progress {
  --size: 190px;
  --half-size: calc(var(--size) / 2);
  --stroke-width: 15px;
  --radius: calc((var(--size) - var(--stroke-width)) / 2);
  --circumference: calc(var(--radius) * pi * 2);
  --dash: calc((var(--progress) * var(--circumference)) / 100);
}

.circular-progress circle {
  cx: var(--half-size);
  cy: var(--half-size);
  r: var(--radius);
  stroke-width: var(--stroke-width);
  fill: none;
}

.circular-progress circle.bg {
  stroke: #d8d8d8;
}

.circular-progress circle.fg {
  transform: rotate(-90deg);
  transform-origin: var(--half-size) var(--half-size);
  stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
  transition: stroke-dasharray 0.3s linear 0s;
  stroke: #0c46c2;
}

.rv-nolan-area {
  background: url("../images/images/nolan-banner.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 105px 0;
  margin-bottom: 60px;
  position: relative;
}

.rv-nolan-middle-image img {
  width: 360px;
  position: absolute;
  bottom: -56px;
  right: -115px;
  left: 0;
  margin: auto;
}

.rv-nolan-left-content h3,
.rv-nolan-left-content h5,
.rv-nolan-left-content p {
  color: rgb(255, 255, 255);
}
.rv-nolan-left-content p,
.rv-nolan-left-content h5 {
  font-weight: 400;
  font-size: 22px;
  width: 92%;
}
.rv-nolan-left-content .m-bottom {
  margin-bottom: 20px;
}
.rv-nolan-left-content .rv-nolan-left-heading-text {
  margin-bottom: 30px;
  position: relative;
}
.rv-nolan-left-content .rv-nolan-left-heading-text::after {
  content: "";
  position: absolute;
  background-color: rgb(114, 134, 151);
  width: 92%;
  height: 1px;
  left: 0px;
  bottom: -15px;
}

.rv-neuesten-nachrichten-area {
  background-color: rgb(255, 255, 255);
  padding: 130px 0;
  overflow: hidden;
}
.rv-neuesten-nachrichten-area .primary-heading {
  margin-bottom: 35px;
}

.single-neuesten-nachrichten-content {
  margin-bottom: 50px;
}
.single-neuesten-nachrichten-content img {
  width: 100%;
  height: auto;
  border-radius: 20px15px;
}
.single-neuesten-nachrichten-content p {
  font-size: 18px;
  color: rgb(38, 38, 38);
  line-height: 1.56;
  width: 95%;
}
.single-neuesten-nachrichten-content a {
  font-weight: 400;
  font-size: 18px;
  color: rgb(34, 152, 229);
  border-bottom: 1px solid rgb(34, 152, 229);
}
.single-neuesten-nachrichten-content .single-neuesten-nachrichten-text-box {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 22px;
  border-radius: 10px;
  margin-top: -40px;
  position: relative;
}

.rv-beste-angebote-area {
  background-color: #f3f3f3;
  padding: 130px 0;
  overflow: hidden;
}
.rv-beste-angebote-area .primary-heading {
  margin-bottom: 35px;
}

.single-beste-angebote-content {
  background-color: rgb(255, 255, 255);
  padding: 25px;
  position: relative;
  margin: 0 10px 42px;
}
.single-beste-angebote-content img {
  width: 112px;
  height: auto;
  margin-right: 35px;
}
.single-beste-angebote-content p {
  margin: 6px 0;
}
.single-beste-angebote-content span,
.single-beste-angebote-content small {
  font-size: 16px;
  color: rgb(0, 0, 0);
  line-height: 1.6;
}
.single-beste-angebote-content small {
  font-weight: 500;
}
.single-beste-angebote-content .beste-heart {
  width: 17px;
  height: auto;
  position: absolute;
  right: 20px;
  top: 20px;
  margin-right: 0;
}

.rv-marken-area {
  background-color: rgb(255, 255, 255);
  padding: 130px 0;
  overflow: hidden;
}
.rv-marken-area .primary-heading {
  margin-bottom: 40px;
}
.rv-marken-area .single-rv-marken-slide {
  margin: 0 10px;
}

.rv-newsletter-area {
  background: url("../images/images/newsletter-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 130px 0 290px;
  overflow: hidden;
}

.rv-newsletter-content {
  position: relative;
  z-index: 1;
}
.rv-newsletter-content p {
  font-size: 20px;
  margin: 20px 0;
}
.rv-newsletter-content input {
  font-weight: 400;
  font-size: 18px;
  color: rgb(38, 38, 38);
  border: 1px solid rgb(229, 229, 229);
  border-radius: 6px;
  outline: none;
  line-height: 1;
  width: 100%;
  padding: 20px 20px 20px 45px;
  margin-bottom: 30px;
}
.rv-newsletter-content .single-rv-newsletter-form {
  position: relative;
  max-width: 400px;
  width: 100%;
  margin: 0 15px;
}
.rv-newsletter-content .single-rv-newsletter-form svg {
  width: 20px;
  position: absolute;
  left: 20px;
  top: 20px;
  fill: blue;
}

.rv-newsletter-content::after {
  content: "";
  position: absolute;
  background: url("../images/images/newslette.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 65%;
  height: 120%;
  left: 150px;
  top: -25px;
  z-index: -1;
}

.rv-product-hero-area {
  background: url("../images/product/product-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 50px;
  padding-bottom: 120px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.rv-product-hero-area::after {
  content: "";
  position: absolute;
  background: url("../images/product/p-after.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  right: 0;
  top: 0;
  width: 33%;
  height: 40%;
  z-index: -1;
}

.rv-product-hero-content {
  margin-top: 80px;
}

.rv-product-view-main-img img {
  width: 75%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.rv-product-view-small-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.rv-product-view-small-img button {
  background-color: rgb(255, 255, 255);
  padding: 10px 13px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  margin: 0 7px;
}
.rv-product-view-small-img button img {
  width: 60px;
  height: auto;
}
.rv-product-view-small-img button:hover {
  border: 1px solid #2599e5;
}

.rv-product-text-heading h4 {
  font-size: 30px;
}
.rv-product-text-heading p {
  font-size: 15px;
  color: #666666;
  margin-bottom: 0;
  margin-left: 10px;
}

.rv-product-hero-content h6 {
  font-weight: 500;
  font-size: 18px;
  color: #333333;
  line-height: 1.3;
  margin-bottom: 15px;
}

.rv-product-text-content {
  position: relative;
  padding-top: 30px;
}
.rv-product-text-content h5 {
  font-size: 28px;
  background: linear-gradient(to right, rgb(1, 29, 176) 0%, rgb(34, 152, 229) 98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  margin-bottom: 15px;
}
.rv-product-text-content h6 span {
  color: #2198e5;
  display: inline-block;
}
.rv-product-text-content p {
  text-align: justify;
}

.rv-product-text-content::after {
  content: "";
  position: absolute;
  background: #e8e8e8;
  width: 100%;
  height: 1px;
  top: 15px;
  left: 0;
}

.rv-product-right-content .rv-product-view-small-img {
  justify-content: flex-start;
  margin: 25px 0;
}
.rv-product-right-content .rv-product-view-small-img button:first-child {
  margin-left: 0;
}

.rv-product-hero-content .rv-btn {
  padding: 12px 20px;
}
.rv-product-hero-content .rv-btn::after {
  display: none;
}

.rv-product-right-header h6 span {
  font-weight: 400;
}

.rv-product-right-preise-content {
  margin-top: 25px;
}

.single-product-right-preise-content h6 {
  font-weight: 500;
  font-size: 14px;
  color: #262626;
  margin-bottom: 0;
  margin-left: 5px;
}
.single-product-right-preise-content p {
  font-size: 13px;
  color: #262626;
  margin-bottom: 0;
  width: 150px;
  line-height: 1.2;
  margin-top: 8px;
}

.single-product-right-preise-content {
  background: #FFF;
  padding: 14px 12px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 20px;
}

.single-product-right-preise-middle h5 {
  font-size: 17px;
  background: linear-gradient(to right, rgb(1, 29, 176) 0%, rgb(34, 152, 229) 98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  margin-bottom: 0;
}
.single-product-right-preise-middle span {
  font-weight: 400;
  font-size: 12px;
  color: #666666;
}

.single-product-right-preise-right .rv-btn {
  font-size: 13px;
  text-align: center;
  padding: 5px 10px;
}
.single-product-right-preise-right p {
  margin-top: 0;
  width: 60px;
  text-align: center;
}

.rv-product-inhalt-area {
  background: rgb(255, 255, 255);
  padding: 120px 0;
}

.rv-product-inhalt-heading {
  background-color: #f5f5f5;
  padding: 35px 35px;
  margin: 50px 0;
}

.single-rv-product-inhalt-content {
  margin-bottom: 40px;
}

.rv-product-inhalt-content h3 {
  font-size: 30px;
  margin-bottom: 15px;
}
.rv-product-inhalt-content li {
  list-style: none;
}

.rv-product-inhalt-button {
  position: relative;
  z-index: 1;
  border-bottom: 2px solid #cccccc;
}
.rv-product-inhalt-button button {
  font-weight: 500;
  font-size: 22px;
  color: #262626;
  text-transform: capitalize;
  padding: 0 30px 20px;
  margin-right: 40px;
  border: none;
  background: transparent;
  position: relative;
}
.rv-product-inhalt-button button.active, .rv-product-inhalt-button button:hover {
  color: #2198e5;
}
.rv-product-inhalt-button button.active::after, .rv-product-inhalt-button button:hover::after {
  content: "";
  position: absolute;
  background: #2198e5;
  width: 100%;
  height: 8px;
  left: 0;
  bottom: -4px;
  border-radius: 5px;
}

.tabcontent {
  display: none;
}

.rv-produkte-area {
  background: rgb(255, 255, 255);
  padding: 120px 0;
}

.rv-produkte-slider {
  margin-top: 50px;
}

.single-rv-produkte-slide {
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #e9e9e9;
  min-height: 440px;
}
.single-rv-produkte-slide p {
  color: #666666;
  font-size: 18px;
  margin-bottom: 5px;
}
.single-rv-produkte-slide h5 {
  font-size: 28px;
  background: linear-gradient(to right, rgb(1, 29, 176) 0%, rgb(34, 152, 229) 98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  margin-top: 10px;
}
.single-rv-produkte-slide h6 {
  font-weight: 500;
  font-size: 23px;
  color: #262626;
  line-height: 1;
}

.single-rv-produkte-slide-image.img {
  margin-top: 75px;
  margin-bottom: 80px;
}

.single-rv-produkte-slide-image {
  margin-bottom: 30px;
}

.rv-product-feedback-area {
  background: #f5f5f5;
  padding: 120px 0;
}

.single-rv-product-feedback {
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid #e6e6e6;
  min-height: 230px;
  padding: 25px 28px;
}
.single-rv-product-feedback h2 {
  font-size: 50px;
  color: #333333;
  padding-top: 12px;
}
.single-rv-product-feedback p {
  font-size: 16px;
  max-width: 270px;
  margin: 0 auto;
  margin-top: 15px;
}
.single-rv-product-feedback span {
  font-weight: 400;
  font-size: 14px;
}

.single-rv-product-progress span:first-child {
  flex: 0 0 25%;
}

.single-rv-product-progress span:last-child {
  flex: 0 0 12%;
}

.single-rv-product-progress .progress {
  flex: 0 0 63%;
  width: 95%;
  background-color: #eeeeee !important;
  border-radius: 0 !important;
  height: 25px;
}

.single-rv-product-progress .bg-custom {
  background: linear-gradient(to right, rgb(1, 29, 176) 0%, rgb(34, 152, 229) 98%);
}

.single-rv-product-progress {
  margin-bottom: 10px;
}

.single-rv-product-feedback-heading {
  margin-bottom: 15px;
}

.single-rv-product-feedback-bottom img {
  width: 100px;
}
.single-rv-product-feedback-bottom h6 {
  font-size: 18px;
  margin-bottom: 0;
  margin-left: 15px;
}
.single-rv-product-feedback-bottom p {
  font-size: 16px;
  margin-right: 20px;
}

.single-rv-product-feedback-foot p {
  margin-bottom: 0;
}

.like-dislike {
  display: flex;
}
.like-dislike button {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  border: 1px solid #eeeeee;
  padding: 5px 15px;
}
.like-dislike button img {
  width: 20px;
  height: auto;
  margin-right: 5px;
}

.rv-product-feedback-top {
  margin-bottom: 50px;
}

.single-rv-product-feedback-bottom-left {
  flex: 0 0 75%;
}

.single-rv-product-feedback-bottom {
  padding: 40px 0;
  border-bottom: 1px solid #e6e6e6;
}

.single-rv-product-feedback-bottom-right p {
  margin-bottom: 3px;
  margin-right: 0;
}
.single-rv-product-feedback-bottom-right span {
  font-weight: 500;
}
.single-rv-product-feedback-bottom-right img {
  width: 18px;
  margin-right: 8px;
}

.single-rv-product-feedback-bottom:last-child {
  padding-bottom: 80px;
  border-bottom: none;
}

.load-more-btn a {
  font-weight: 400;
  font-size: 18px;
  color: #333333;
  text-align: center;
  display: block;
}

@media (min-width: 1925px) {
  .rv-hero-banner-area {
    height: 100vh;
  }
  .rv-header-area ::after {
    width: 66%;
  }
}
@media (min-width: 2700px) {
  .rv-header-area ::after {
    width: 63%;
  }
}
@media (min-width: 3300px) {
  .rv-header-area ::after {
    width: 60%;
  }
}
@media all and (max-width: 1400px) {
  .rv-product-hero-area::after {
    width: 25%;
    height: 32%;
  }
  .rv-product-view-small-img button img {
    width: 55px;
  }
}
@media all and (max-width: 1199px) {
  .rv-product-view-main-img img {
    width: 50%;
  }
  .rv-product-view-small-img {
    margin-top: 50px;
  }
  .rv-product-hero-area::after {
    width: 25%;
    height: 20%;
  }
  .rv-product-inhalt-button button {
    font-size: 20px;
    padding: 0 25px 20px;
    margin-right: 25px;
  }
  .owl-carousel.rv-produkte-slider .owl-nav button.owl-prev {
    left: -20px;
  }
  .owl-carousel.rv-produkte-slider .owl-nav button.owl-next {
    right: -20px;
  }
  .single-rv-product-feedback {
    margin-bottom: 20px;
  }
  .single-rv-product-progress span:first-child {
    flex: 0 0 15%;
  }
}
@media all and (max-width: 991px) {
  .rv-product-hero-area::after {
    display: none;
  }
  .rv-product-hero-area {
    background-size: 230% 100%;
    background-position-x: 50%;
  }
  .rv-product-right-preise-content,
  .rv-product-hero-content,
  .rv-product-middle-text-content {
    margin-top: 60px;
  }
  .rv-product-inhalt-button button {
    font-size: 16px;
    padding: 0 20px 10px;
    margin-right: 5px;
  }
  .rv-product-inhalt-button button.active::after,
  .rv-product-inhalt-button button:hover::after {
    content: "";
    height: 6px;
  }
  .single-rv-product-feedback-bottom-right {
    margin-top: 20px;
  }
  .single-rv-product-feedback-bottom {
    padding: 25px 0;
  }
  .single-rv-product-feedback-bottom {
    flex-direction: column;
  }
  .single-rv-product-feedback-bottom-right p {
    font-weight: 500;
  }
  .single-rv-product-feedback-bottom-right .d-flex.align-items-center p {
    font-weight: 400;
  }
  .single-rv-product-feedback-bottom:last-child {
    padding-bottom: 50px;
  }
  .rv-product-feedback-bottom-mobile {
    display: flex;
  }
  .rv-product-feedback-bottom-mobile p:last-child {
    margin-left: 30px;
  }
}
@media all and (max-width: 767px) {
  .rv-product-hero-content {
    margin-top: 50px;
  }
  .rv-product-inhalt-area,
  .rv-produkte-area,
  .rv-product-feedback-area {
    padding: 90px 0;
  }
  .rv-product-inhalt-content .single-rv-product-inhalt-content:last-child {
    margin-bottom: 0;
  }
  .rv-product-inhalt-content h3 {
    font-size: 26px;
  }
  .rv-product-inhalt-content li {
    font-size: 16px;
  }
  .rv-product-inhalt-button button {
    padding: 15px 0;
    margin-right: 30px;
  }
  .rv-product-inhalt-button::after {
    content: "";
    position: absolute;
    background: #cccccc;
    width: 100%;
    height: 2px;
    left: 0;
    top: 54px;
    z-index: -1;
  }
}
@media all and (max-width: 575px) {
  .rv-product-step a {
    font-size: 16px;
    margin-right: 35px;
  }
  .rv-product-step a::after {
    right: -17px;
    top: 3px;
  }
  .rv-product-view-main-img img {
    width: 60%;
  }
  .rv-product-text-content h5 {
    font-size: 22px;
  }
  .rv-product-hero-content h6 {
    font-size: 16px;
  }
  .rv-product-inhalt-heading {
    padding: 25px 25px;
    margin: 30px 0;
  }
  .rv-product-inhalt-content h3 {
    font-size: 22px;
  }
  .rv-product-inhalt-area,
  .rv-produkte-area,
  .rv-product-feedback-area {
    padding: 50px 0;
  }
  .owl-carousel.rv-produkte-slider .owl-nav button.owl-prev {
    left: -11px;
  }
  .owl-carousel.rv-produkte-slider .owl-nav button.owl-next {
    right: -11px;
  }
  .load-more-btn a {
    font-size: 16px;
  }
  .single-rv-product-feedback-bottom:last-child {
    padding-bottom: 30px;
  }
}
@media all and (max-width: 450px) {
  p,
  .rv-product-inhalt-content li {
    font-size: 15px;
  }
  .rv-product-inhalt-heading {
    padding: 20px 15px;
  }
  .rv-product-inhalt-button button {
    margin-right: 16px;
    font-size: 15px;
  }
  .rv-product-hero-area {
    background-position-x: 40%;
    padding-bottom: 70px;
  }
  .rv-product-view-main-img img {
    width: 55%;
  }
  .rv-product-view-small-img button img {
    width: 45px;
  }
  .rv-product-view-small-img {
    margin-top: 30px;
  }
  .rv-product-view-small-img button {
    padding: 10px 10px;
  }
  .rv-product-hero-content {
    margin-top: 35px;
  }
  .single-product-right-preise-content p {
    width: 80px;
  }
  .single-product-right-preise-middle h5 {
    font-size: 15px;
  }
  .single-product-right-preise-right {
    text-align: center;
  }
  .single-product-right-preise-content {
    padding: 10px 8px;
  }
  .single-rv-product-feedback-bottom h6 {
    font-size: 16px;
  }
  .rv-product-feedback-bottom-mobile p:last-child {
    margin-left: 15px;
  }
  .single-rv-product-feedback-bottom-right p {
    font-size: 15px;
  }
  .single-rv-product-feedback {
    padding: 25px 10px;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .rv-header-area::after {
    display: none;
  }
  .rv-header-area {
    overflow: hidden;
  }
  .mobile-menu-content {
    display: block;
  }
  .mobile-menu-content {
    width: 295px;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 30px;
  }
  h3,
  .rv-besten-angebote-slide h3 {
    font-size: 26px;
  }
  .rv-besten-angebote-slide h4,
  h4 {
    font-size: 20px;
  }
  .single-neuesten-nachrichten-content p {
    width: 100%;
  }
  .single-beste-angebote-content img {
    width: 80px;
  }
  .rv-nolan-middle-image img {
    width: 175px;
    bottom: -56px;
    right: -30px;
  }
  .rv-footer-bottom-content .rv-footer-right-image img {
    width: 28px;
    margin-right: 5px;
  }
  .rv-sonderangebot-right-slide p,
  p,
  .rv-nolan-left-content p,
  .rv-nolan-left-content h5,
  .single-neuesten-nachrichten-content p,
  .single-neuesten-nachrichten-content a,
  .rv-newsletter-content input,
  .rv-mobile-merkliste a {
    font-size: 16px;
  }
  .rv-footer-top-content > .row {
    margin-top: 30px;
  }
  .rv-sonderangebot-right-slide p {
    width: 100%;
  }
  .rv-hero-banner-area p {
    font-size: 13px;
  }
  .rv-btn {
    font-size: 13px;
    padding: 15px 20px;
  }
  .rv-logo img {
    width: 120px;
  }
  .rv-mobile-merkliste a {
    margin-left: 15px;
  }
  .rv-mobile-merkliste a::before {
    left: -8px;
  }
  .rv-hero-banner-area {
    padding-top: 70px;
    padding-bottom: 120px;
  }
  .rv-besten-angebote-left {
    margin-left: 15px;
    margin-bottom: 30px;
  }
  .single-neuesten-nachrichten-text-box h4 {
    line-break: anywhere;
  }
  .rv-besten-angebote-area {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .rv-sonderangebot-area,
  .rv-nolan-area,
  .rv-neuesten-nachrichten-area,
  .rv-beste-angebote-area,
  .rv-marken-area {
    padding: 50px 0;
  }
  .rv-sonderangebot-right-slide-progress {
    display: none !important;
  }
  .rv-sonderangebot-left-slide-top-img h2 {
    font-size: 25px;
  }
  .rv-sonderangebot-left-slide-top-img {
    top: -20px;
  }
  .rv-sonderangebot-left-slide-image {
    position: relative;
    margin-bottom: 50px;
    margin-top: 35px;
  }
  .owl-carousel.sonderangebot-slider .owl-nav button.owl-prev {
    left: -5px;
  }
  .owl-carousel.sonderangebot-slider .owl-nav button.owl-next {
    right: -5px;
  }
  .single-beste-angebote-content p {
    line-break: anywhere;
  }
  .rv-besten-angebote-right-slider {
    margin-left: 0;
  }
  .owl-carousel.rv-marken-slider .owl-nav button.owl-next {
    top: 30px;
    right: 0;
  }
  .owl-carousel.rv-marken-slider .owl-nav button.owl-prev {
    top: 30px;
    left: 0;
  }
  .rv-footer-bottom-content .rv-footer-logo img {
    width: 110px;
  }
  .rv-footer-bottom-content .rv-footer-right-content {
    padding-left: 0;
  }
  .mobile-flex-column {
    flex-direction: column;
  }
  .rv-newsletter-content .single-rv-newsletter-form {
    max-width: 285px;
  }
  .rv-newsletter-content::after {
    width: 65%;
    height: 85%;
    left: 50px;
  }
  .rv-footer-area {
    background-size: 150% 100%;
    background-position-x: 30%;
    padding-top: 88px;
  }
  .rv-footer-top-content a,
  .rv-footer-top-content h6,
  .rv-copyright-text p,
  .rv-footer-bottom-content .rv-footer-right-content p,
  .rv-footer-right-text a,
  .rv-footer-right-text p,
  .rv-footer-bottom-content .rv-footer-middle-text p {
    font-size: 13px;
  }
  .rv-footer-bottom-content {
    padding-top: 25px;
    padding-bottom: 20px;
  }
  .rv-logo img {
    width: 100px;
  }
  .rv-newsletter-content .single-rv-newsletter-form {
    max-width: 100%;
    margin-left: 0;
  }
  .rv-newsletter-area {
    padding: 70px 0 220px;
  }
  .owl-nav button {
    width: 30px;
    height: 30px;
  }
  .rv-mobile-icon {
    width: 30px;
    height: 30px;
    margin-left: 15px;
  }
  .rv-mobile-icon span {
    width: 20px;
    height: 2px;
  }
  .rv-besten-angebote-slide img {
    height: 155px !important;
  }
  .owl-carousel.besten-angebote-slider .owl-nav button.owl-prev {
    top: 155px;
    left: -8px;
  }
  .owl-carousel.besten-angebote-slider .owl-nav button.owl-next {
    bottom: 140px;
    left: -8px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .rv-header-area::after {
    display: none;
  }
  .rv-header-area {
    overflow: hidden;
  }
  .mobile-menu-content {
    display: block;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  .rv-sonderangebot-right-slide p {
    font-size: 18px;
  }
  .rv-sonderangebot-single-progress-text span {
    font-size: 20px;
  }
  .circular-progress {
    --size: 160px;
  }
  .rv-sonderangebot-single-progress p {
    font-size: 16px;
  }
  .rv-sonderangebot-single-progress-text span {
    font-size: 20px;
    margin-left: -12px;
  }
  .rv-sonderangebot-right-slide-price h3 {
    font-size: 28px;
  }
  .rv-sonderangebot-single-progress {
    margin-left: 10px;
  }
  .rv-hero-banner-area p {
    font-size: 15px;
  }
  .rv-btn {
    font-size: 15px;
    padding: 17px 22px;
  }
  .rv-logo img {
    width: 160px;
  }
  .rv-header-area {
    padding: 20px 0;
  }
  .rv-besten-angebote-left {
    margin-left: 15px;
    margin-bottom: 40px;
  }
  .rv-footer-bottom-content .rv-footer-middle-text p a {
    font-size: 14px;
  }
  .rv-footer-bottom-content .rv-footer-right-content {
    padding-left: 0;
  }
  .rv-footer-area {
    background-size: 125% 100%;
    background-position-x: 30%;
  }
  .rv-footer-top-content > .row {
    margin-top: 40px;
  }
  .rv-sonderangebot-area,
  .rv-nolan-area,
  .rv-neuesten-nachrichten-area,
  .rv-beste-angebote-area,
  .rv-marken-area {
    padding: 80px 0;
  }
  .rv-sonderangebot-left-slide-image {
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
  }
  .owl-carousel.sonderangebot-slider .owl-nav button.owl-prev,
  .owl-carousel.rv-marken-slider .owl-nav button.owl-prev {
    left: -20px;
  }
  .owl-carousel.sonderangebot-slider .owl-nav button.owl-next,
  .owl-carousel.rv-marken-slider .owl-nav button.owl-next {
    right: -20px;
  }
  .rv-nolan-middle-image img {
    width: 270px;
    bottom: -40px;
  }
  .rv-nolan-left-content p,
  .rv-nolan-left-content h5 {
    font-weight: 400;
    font-size: 18px;
    width: 92%;
  }
  .rv-nolan-middle-image img {
    width: 230px;
  }
  .rv-hero-banner-area {
    padding-top: 70px;
    padding-bottom: 140px;
  }
  .rv-besten-angebote-area {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .rv-footer-bottom-content .rv-footer-logo img {
    width: 160px;
  }
  .rv-footer-area {
    background-size: 150% 100%;
    padding-top: 100px;
  }
  .rv-newsletter-content::after {
    width: 100%;
    height: 120%;
    left: 0;
  }
  .rv-besten-angebote-left {
    margin-left: 25px;
    margin-bottom: 35px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .rv-header-area::after {
    display: none;
  }
  .rv-header-area {
    overflow: hidden;
  }
  .mobile-menu-content {
    display: block;
  }
  h1 {
    font-size: 55px;
  }
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 15px;
  }
  .rv-besten-angebote-left {
    margin-left: 25px;
    margin-bottom: 40px;
  }
  .single-beste-angebote-content img {
    width: 100px;
    height: auto;
    margin-right: 35px;
  }
  .rv-logo img {
    width: 170px;
  }
  .rv-hero-banner-area p {
    font-size: 18px;
  }
  .rv-hero-banner-area {
    padding-top: 100px;
    padding-bottom: 180px;
  }
  .single-neuesten-nachrichten-content p {
    width: 100%;
  }
  .single-neuesten-nachrichten-content .single-neuesten-nachrichten-text-box {
    min-height: 340px;
  }
  .single-beste-angebote-content {
    padding: 20px;
    margin: 0 0 30px;
  }
  .rv-footer-area {
    background-size: 145% 100%;
    background-position-x: 50%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .rv-header-area::after {
    display: none;
  }
  .rv-header-area {
    overflow: hidden;
  }
  .mobile-menu-content {
    display: block;
  }
  h1 {
    font-size: 65px;
  }
  .rv-nolan-left-content p,
  .rv-nolan-left-content h5 {
    font-size: 20px;
  }
  .rv-hero-banner-area {
    padding-top: 150px;
    padding-bottom: 220px;
  }
  .rv-hero-banner-area p {
    font-size: 22px;
  }
  .rv-logo img {
    width: 180px;
  }
  .rv-besten-angebote-area {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .rv-newsletter-area {
    padding: 100px 0 260px;
  }
  .rv-sonderangebot-left-slide-image {
    width: 65%;
    margin: 0 auto;
    margin-top: 80px;
  }
  .single-neuesten-nachrichten-content p {
    width: 88%;
  }
  .rv-footer-top-content .col-xl-3 {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .rv-besten-angebote-left {
    margin-left: 25px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .rv-logo img {
    width: 165px;
  }
  .rv-top-search {
    width: 200px;
  }
  nav.rv-nav {
    margin-top: 30px;
  }
  .rv-nav-content a,
  .rv-nav-content input,
  .rv-nav-content input::placeholder {
    font-size: 17px;
    margin-left: 18px;
  }
  .rv-header-area::after {
    width: 78%;
  }
  .rv-besten-angebote-left {
    margin-left: 8%;
  }
  .rv-besten-angebote-right-slider {
    margin-left: 0;
  }
  .owl-carousel.sonderangebot-slider .owl-nav button.owl-prev,
  .owl-carousel.rv-marken-slider .owl-nav button.owl-prev {
    left: -35px;
  }
  .owl-carousel.sonderangebot-slider .owl-nav button.owl-next,
  .owl-carousel.rv-marken-slider .owl-nav button.owl-next {
    right: -35px;
  }
  .rv-footer-area {
    padding-top: 165px;
  }
  .rv-footer-top-content .footer-right-item {
    margin-left: 20px;
  }
  .rv-footer-top-content .col-lg-3 {
    padding-left: 60px;
  }
  .rv-header-area::after {
    display: block;
  }
  .rv-sonderangebot-left-slide-image {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .rv-besten-angebote-left {
    margin-left: 8%;
    width: 80%;
  }
  .rv-besten-angebote-right-slider {
    margin-left: -5%;
  }
  .rv-footer-area {
    padding-top: 160px;
  }
  .rv-header-area::after {
    width: 75%;
  }
  .owl-carousel.sonderangebot-slider .owl-nav button.owl-prev,
  .owl-carousel.rv-marken-slider .owl-nav button.owl-prev {
    left: -44px;
  }
  .owl-carousel.sonderangebot-slider .owl-nav button.owl-next,
  .owl-carousel.rv-marken-slider .owl-nav button.owl-next {
    right: -44px;
  }
}

/*# sourceMappingURL=style.css.map */
