ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    font-weight: 400;
    font-size: 17px;
    color: $primary-color;
    text-transform: inherit;
    line-height: 1.6;
}


h1 {
    font: {
        weight: 500;
        size: 78px;
    }

    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.026;
}

h2 {
    font: {
        weight: 500;
        size: 45px;
    }

    color: $secondary-color;
    text-transform: capitalize;
    line-height: 1.1;
}

h3 {
    font: {
        weight: 500;
        size: 34px;
    }

    color: $secondary-color;
    text-transform: inherit;
    line-height: 1.1;
}

h4 {
    font: {
        weight: 500;
        size: 22px;
    }

    color: $secondary-color;
    text-transform: inherit;
    line-height: 1.35;
}



.rv-btn {
    position: relative;
    font-weight: 400;
    font-size: 19px;
    color: rgb(255, 255, 255);
    text-transform: inherit;
    line-height: 1.2;
    background: $primary-linear-bg;
    padding: 15px 30px;
    display: inline-flex;
    align-items: center;
    z-index: 1;
    margin-bottom: 8px;
}

.rv-btn::after {
    content: "";
    position: absolute;
    background: url('../images/icons/border.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    right: -6px;
    top: 6px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

a.rv-btn img {
    width: 18px !important;
    height: auto !important;
    margin-left: 12px;
}

.rv-btn:hover {
    color: rgb(255, 255, 255);
}

.rv-btn img {
    margin-left: 5px;
}

.primary-heading {
    text-align: center;

    h2 {
        margin-bottom: 10px;
    }

    .img-icon img {
        width: 25px;
    }

    .img-icon {
        position: relative;
    }

    .img-icon::before {
        content: "";
        position: absolute;
        background: #000000;
        width: 80px;
        height: 1px;
        left: -130px;
        top: 15px;
        right: 0;
        margin: auto;
    }

    .img-icon::after {
        content: "";
        position: absolute;
        background: #000000;
        width: 80px;
        height: 1px;
        right: -125px;
        top: 15px;
        left: 0;
        margin: auto;
    }
}


.secondary-heading {
    h2 {
        margin-bottom: 10px;
    }

    .img-icon {
        position: relative;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .img-icon::after {
        content: "";
        position: absolute;
        background: #000000;
        width: 80px;
        height: 1px;
        left: 35px;
        top: 15px;
    }

    .img-icon img {
        width: 20px;
    }

}


// Slider button desgin
.owl-nav button {
    width: 40px;
    height: 40px;
    background-color: $white-color !important;
    border: 1px solid #011db0 !important;
    border-radius: 50% !important;
    transition: .3s;
}

.owl-nav button:hover {
    background-color: #1056c8 !important;
}

.owl-nav button span {
    font-size: 30px;
    line-height: 22px;
    color: #011db0;
}

.owl-nav button:hover span {
    color: #FFFFFF;
}

.owl-carousel.besten-angebote-slider .owl-nav button,
.owl-carousel.sonderangebot-slider .owl-nav button,
.owl-carousel.rv-marken-slider .owl-nav button {
    position: absolute;
}

// besten angebote slider
.owl-carousel.besten-angebote-slider .owl-stage-outer {
    padding: 0;
}

.owl-carousel.besten-angebote-slider .owl-nav button.owl-next {
    bottom: 155px;
    left: -18px;
}

.owl-carousel.besten-angebote-slider .owl-nav button.owl-prev {
    top: 155px;
    left: -18px;
}

// sonderangebot slider
.owl-carousel.sonderangebot-slider .owl-nav button.owl-next {
    top: 50%;
    transform: translateY(-50%);
    right: -80px;
}

.owl-carousel.sonderangebot-slider .owl-nav button.owl-prev {
    top: 50%;
    transform: translateY(-50%);
    left: -80px;
}

// rv marken slider 
.owl-carousel.rv-marken-slider .owl-nav button.owl-next {
    top: 0;
    right: -80px;
}

.owl-carousel.rv-marken-slider .owl-nav button.owl-prev {
    top: 0;
    left: -80px;
}

// nolan slider
.owl-theme.nolan-slider .owl-nav.disabled+.owl-dots {
    margin-top: 15px;
    text-align: left;
}

.owl-theme.nolan-slider .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 5px 4px;
    background: transparent !important;
    border: 1px solid #FFFFFF;
}

.owl-theme.nolan-slider .owl-dots .owl-dot.active span {
    width: 8px;
    height: 8px;
    margin: 5px 4px;
    background: #FFFFFF !important;
    border: 1px solid #FFFFFF;
}

.rv-product-step {
    a {
        font-weight: 400;
        font-size: 18px;
        color: #000000;
        margin-right: 40px;
        position: relative;
    }

    a::after {
        content: "";
        position: absolute;
        background: #000000;
        width: 1px;
        height: 20px;
        right: -20px;
        top: 5px;
        transform: rotate(25deg);
    }

    a:hover, a:last-child {
        color: #2298e5;
    }


    a:last-child::after {
        display: none;
    }
}