// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}

// Large monitor
@media (min-width: 1925px) {
    .rv-hero-banner-area {
        height: 100vh;
    }
    .rv-header-area ::after {
        width: 66%;
    }
}
@media (min-width: 2700px) {
    .rv-header-area ::after {
        width: 63%;
    }
}
@media (min-width: 3300px) {
    .rv-header-area ::after {
        width: 60%;
    }
}