$font-gotham: "Gotham";
$primary-linear-bg: linear-gradient( to right, rgb(1,29,176) 0%, rgb(34,152,229) 98%);
$primary-color: rgb(0, 0, 0);
$secondary-color: rgb(38, 38, 38);
$white-color: rgb(255,255,255);

