.rv-header-area {
    position: relative;
    padding: 15px 0;
    box-shadow: 0 0 50px rgba(0,0,0,.05);
}

 
.rv-nav-content {
    margin-top: -15px;
}

.rv-logo img {
    width: 231px;
    height: auto;
}

.rv-nav-content {
    
    a,
    input,
    input::placeholder {
        font: {
            weight: 400;
            size: 18px;
        }

        color: rgb(0, 0, 0);
        text-transform: capitalize;
        margin-left: 25px;
        line-height: 1;
    }

    input {
        outline: none;
        background: #FFFFFF;
        padding: 8px 15px;
        width: 100%;
        border: none;
        margin-top: -3px;
    }

    .rv-nav-parent{
        position: relative;
        padding: 10px 0px;
        &::before{ 
            content: "";
            height: 100%;
            width: 100%;
            background-color: #efefef;
            position: absolute;
            inset: 0;
            border-bottom-left-radius: 50px;
        }
        &::after{ 
            content: "";
            height: 100%;
            width: 100%;
            background-color: #efefef;
            position: absolute;
            left: 100%; 
            top: 0
        }
    }
    .rv-top-bar-left{
        position: relative;
    }
    .rv-top-bar-right{
        position: relative;
    }
}

.rv-top-search {
    position: relative;
    width: 240px;
}

.rv-top-search::after {
    display: none;
}

.rv-top-search img {
    position: absolute;
    right: -18px;
    top: 0;
    cursor: pointer;
    pointer-events: none;
}

nav.rv-nav {
    margin-top: 50px;
}

img.chevron-down {
    width: 16px;
}

img.heart {
    width: 22px;
    margin-left: 25px;
}

.rv-nav ul li {
    position: relative;
}

.rv-nav ul li ul {
	position: absolute;
	width: 150%;
	padding-top: 30px;
	opacity: 0;
	transition: 0.3s;
	visibility: hidden;
	background: white;
	border-radius: 4px;
	z-index: 99;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.10);

    @media (min-width: 1200px ) {   
        padding: 12px 0; 
    }

    li{
        a{
            @media (min-width: 1200px ) {   
                padding: 6px 0;
                display: inline-block;
            }
        }
    }
}

.rv-nav ul li:hover ul {
    padding-top: 8px;
    opacity: 1;
    visibility: visible;
}

// mobile menu design

.rv-mobile-merkliste a {
    font: {
        weight: 400;
        size: 17px;
    }

    color: rgb(0, 0, 0);
    text-transform: capitalize;
    line-height: 1;
    margin-left: 40px;
    position: relative;
}

.rv-mobile-merkliste a::before {
    content: "";
    position: absolute;
    background: #aaaaaa;
    width: 1px;
    height: 23px;
    left: -20px;
    top: -3px;
}

.rv-mobile-search img {
    width: 28px;
    height: auto;
}

.rv-mobile-merkliste img {
    margin-left: 0;
}

.rv-mobile-icon {
    background-color: #111111;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span {
        background-color: $white-color;
        width: 25px;
        height: 2px;
        display: inline-block;
        margin: 3px 0;
    }
}

.mobile-menu-content {
    background: #FFFFFF;
    width: 400px;
    padding: 40px 0;
    position: fixed;
    height: 100%;
    max-height: 100dvh;
    overflow-y: auto;
    right: 0;
    top: 0;
    z-index: 99;
    transform: translateX(100%);
    transition: .3s;
    z-index: 9999;
}
.mobile-close-button button {
    background: transparent;
    border: none;
    position: absolute;
    right: 5px;
    top: 5px;
}
.mobile-close-button button img {
    width: 18px;
}

.mobile-menu-content .accordion-item {

    button,
    a {
        font-weight: 400;
        font-size: 18px;
        color: #000000 !important;
        text-transform: capitalize;
        outline: none;
        box-shadow: none !important;
        padding: 10px 25px;
    }
    a {
        display: block;
    }
}

.accordion-child-item {
    padding-left: 20px;
}

.mobile-menu-content .accordion-button:not(.collapsed),.accordion-button:hover,.accordion-item a:hover {
    background-color: #f5f5f5;
    color: #0834bb !important;
}
.mobile-menu-content .accordion-button::after {
    width: 15px;
    height: 15px;
    background-size: 15px;
}
.mobile-menu-slide-text {
    position: relative;
    width: 170px !important;
    height: 130px !important;
}
.mobile-menu-slide-text::before {
    content: "";
    position: absolute;
    background: rgba(0,0,0,.3);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.mobile-menu-slide-text h6 {
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    text-transform: capitalize;
    position: absolute;
    left: 0;
    right: 0;
    top: 65px;
    margin: auto;
    text-align: center;
}
.mobile-menu-bottom {
    padding: 10px 25px;
}
.mobile-menu-bottom p {
    font-weight: 400;
    font-size: 18px;
    color: #000000 !important;
    text-transform: capitalize;
    margin: 10px 0;
}
.mobile-menu-slider .owl-nav {
    text-align: center;
    margin-top: 20px;
}
.mobile-menu-slider .owl-nav button {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}
